body{
  background-image: url("./images/FullSizeRender.jpg");
  background-size: 70%;
  background-color: #202022;
  background-repeat: no-repeat;
  background-position: 40%;

}
.login {
  display: none;
}
.mainContainer {
  display: none;
}
.chatContainer{
  float:left;

  width: 50%;
  margin-left: 10%;
}

h3{
  font-family:'Cedarville Cursive', cursive;
  color:white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 20px;
}

header{
  width: 90%;
  background-image: url("./images/IMG_head.png");
  background-size: 100%;
  background-position: -14px -159px;
  background-repeat: no-repeat;
  /*background: linear-gradient(#EC5144, #F3D0CD);*/
  height:25%;
  font-family:'Cedarville Cursive', cursive;
  color:white;
  text-shadow: 2px 2px 4px #000000;
  /*border: 10px double rgba(0, 0, 0, 0.2);*/
}
header h1{
  text-align: left;
}

form{
  width: 50%;
  height:20px;
  /*border: 5px solid #EC5144;*/
}

section{
  width: 89%;
  height: 500px;
  border: 20px;
  overflow-y: scroll;
  background-color: rgba(255, 225, 225, 0.5);
  /*border: 10px solid white;*/
}

.messagediv{
  width: %;
  height: 30%;
  font-size: 20px;
  /*border:2px solid #EC5144;*/
  /*border-radius: 10px;*/
  /*background:#EC5144;*/
  font-family:'Cedarville Cursive', cursive;
  color:black;
  background-color: rgba(255, 225, 225, 0.8);
  padding: 10px;
  margin-top: 5px;

}

.show {
  display: block;
}


.d8{
background-color: rgba(255, 225, 225, 0.2);
 font-size: 16px;
 margin-left: 2%;
 font-family:'Open Sans Condensed', sans-serif;
 color: black;
 border: 2px solid transparent;
 border-radius: 5px;

}
.usenm{
background-color: rgba(0, 225, 225, 0.4);
font-family:'Open Sans Condensed', sans-serif;
color:black;
font-size: 20px;
border: 5px solid transparent;
border-radius: 2px;
}

.triange{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #EC5144;
  margin-left: 5%;
}

.inputChat:focus {
  width
}

.thisaside{
  width:30%;
  height: 500px;
  border: 2px solid blue;
  float:right;
  background-size: contain;
}

.users{
  width: 70%;
  margin: 25%;
  font-family:'Cedarville Cursive', cursive;
  font-size: 12px;
  color:black;
}
